<!DOCTYPE html>
<html>
  <head>
  {% load staticfiles %}
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <link href="{%static "css/bootstrap.css"%}" type="text/css" rel="stylesheet" media="all">
    <link href="{%static "css/create item/nav-panel.css"%}" type="text/css" rel="stylesheet" media="all">
    <link href="{%static "css/create item/widget.css"%}" type="text/css" rel="stylesheet" media="all">
    <script src="{%static "js/React/libraries/react.js"%}"></script>
    <script src="{%static "js/React/libraries/react-dom.js"%}"></script>
    <script src="{%static "js/React/libraries/classnames/index.js"%}"></script>
    <script src="{%static "js/React/libraries/babel.min.js"%}"></script>
    
    
    <script src="{%static "js/jquery.min.js"%}"></script>
	
    <script src="{%static "js/bootstrap.min.js"%}/"></script>
  </head>
  <body>

<div id="root"></div>
    <script type="text/babel" src="{%static "js/React/cart-widget.js"%}">

    </script>

</body>
</html>
